.google-glass-faz {
    margin-top: -18px !important;
    flex-wrap: wrap;
    max-width: 90%;
    margin:auto;
    justify-content: center !important;
    flex-direction: row;
}
.slide-img {
    width: 225px !important;
    box-sizing: border-box;
    margin:5px;
    border: 3px solid white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.281);
    background-position: center center;
    height: 225px !important;
    background-size: 200% 200%;
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-top: 197px; 
}
.slide-img:hover {
    transform: scale(1.3);
    background-size: 100% 100%;
}
.slide-img::before {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 5px;
    opacity: 0;
}
.img1::before {
    content: 'Agenda e Lembretes';
}
.img2::before {
    content: 'ergey Brin usando o Glass';
}
.img3::before {
    content: 'Leve e compacto';
}
.img4::before {
    content: 'Sensação de uma tela de 50"';
}
.img5::before {
    content: 'Vários Tipos de Lentes';
}
.img6::before {
    content: 'Informações importantes';
}


.img1 {
    background-image: url('_imagens/galeria-01.jpg') !important;
}
.img2 {
    display: none !important;
    /* visibility: hidden   ; */
    background-image: url('_imagens/galeria-02.jpg') !important;
}
.img3 {
    display: none !important;
    /* visibility: hidden   ; */
    background-image: url('_imagens/galeria-03.jpg') !important;
}
.img4 {
    display: none !important;
    /* visibility: hidden   ; */
    background-image: url('_imagens/galeria-04.jpg') !important;
}
.img5 {
    display: none !important;
    /* visibility: hidden   ; */
    background-image: url('_imagens/galeria-05.jpg') !important;
}
.img6 {
    display: none !important;
    /* visibility: hidden   ; */
    background-image: url('_imagens/galeria-06.jpg') !important;
}
@media (min-width: 450px) {
    .slide-img {
        width: 35vw;
    }
    .img2 {
        display: inline-block !important;
        visibility: visible;
    }
}
@media (min-width: 620px) {
    .img3 {
        display: inline-block !important;
        visibility: visible;
    }
    .slide-img {
        flex-shrink: 1;
        min-width: 30%;
    }
}
@media (min-width: 700px) {
    
    .img4 {
        display: inline-block !important;
        visibility: visible;
    }
    .google-glass-faz {
        max-width: 775px;
    }
}
@media (min-width: 755px) {
    .img5 {
        display: inline-block !important;
        visibility: visible;
    }
}
@media (min-width: 900px) {
    .img6 {
        display: inline-block !important;  
        visibility: visible !important;
    }
}