h2, h4, p, h3 {
    margin: 0;
    padding: 0;
}
.cabecalho1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.funcionalidade {
    margin-bottom: 500px;
}
.funcionalidade:nth-child(1) {
    margin-top: 500px;
}
.titulo-funcionalidade {
    background-color: #888888;
    color: white;           
    padding: 2px;
    box-sizing: border-box;
}
.subtitulo-funcionalidade {
    color: #888888;
}
.subtitulo-funcionalidade:nth-child(1) {
    text-align: center;
}
.texto {
    text-indent: 30px;
    padding: 5px;
    text-align: justify;
}
.img-mao {
    margin: 40px 0;
    width: 40%;
    transform: rotate(90deg);
}
.vira-de-novo {
    transform: rotate(-90deg);
    border: 1px solid black;
}
article {
    margin-top: 10px;
}
@media (min-width: 800px) {
    .cabecalho1 {
        flex-direction: column;
    }
    .img-mao {
        width: 280px;
        transform: rotate(0deg);
    }
}