.funcao-google-glass {
    overflow-y: scroll;
    /* tentar mudar o scroll amanhã */
    width: 100%;
    margin: 0;
    padding: 0;
}
.google-glass-faz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navegacao-imagem {
    width: 95%;
    padding: 0;
    margin-bottom: 10px;
    max-height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

.navegacao-imagem::-webkit-scrollbar {
    background-color: white ;
    width: 5px;
}
.navegacao-imagem::-webkit-scrollbar-thumb {
    background-color:#606060b2 ;
    border-radius: 10px;
    height: 30px;
}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quebra {
    width: 40% !important;
    float: left;
    margin: 10px 0 0 10px;
}
.quebra-img {
    margin: 0;  
    width: 40% !important;
    float: right;
}
.quebra-img > img  {
    width: 70%;
    margin-right: 20px;
}
.tela {
    width: 70%;
}
.order1 {
    order: 1 !important;
}
.order2 {
    order: 2;

}
@media (min-width: 600px){
    .navegacao-imagem{
        padding-top: 20px;
    }
    .funcao-google-glass {
        width: 80%;
    }
}
h2, h4, p, h3 {
    margin: 0;
    padding: 0;
}
.cabecalho1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.corpo-funcionalidade {
    display: flex;
    flex-direction: column;
}
.funcionalidade {
    margin-bottom: 500px;
    order: 5;
}
.primeira-func {
    margin-top: 500px;
    width: 100% !important;
}
.titulo-funcionalidade {
    background-color: #888888;
    color: white;           
    padding: 2px;
    box-sizing: border-box;
}
.subtitulo-funcionalidade {
    color: #888888;
}
.subtitulo-funcionalidade:nth-child(1) {
    text-align: center;
}
.texto {
    text-indent: 30px;
    padding: 5px;
    text-align: justify;
}
.img-mao {
    margin: 40px 0;
    width: 40%;
    transform: rotate(90deg);
}
.vira-de-novo {
    transform: rotate(-90deg);
    border: 1px solid black;
}
article {
    margin-top: 10px;
}

@media (min-width: 720px){
    .navegacao-imagem{padding-top: 30px;}
    .funcao-google-glass {
        width: 70%;
    }
}
@media (min-width: 800px) {
    .navegacao-imagem {
        overflow-y: scroll;
        padding-top: 0px;
    }
    .funcao-google-glass {
        width: 80%;
    }
    .google-glass-faz {
        flex-direction: row;
        align-items: center;
    }   
    .cabecalho1 {
        flex-direction: column;
    }
    .img-mao {
        width: 280px;
        transform: rotate(0deg);
    }
}