.funcao-google-glass {
    overflow-y: scroll;
    /* tentar mudar o scroll amanhã */
    width: 100%;
    margin: 0;
    padding: 0;
}
.google-glass-faz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navegacao-imagem {
    width: 95%;
    padding: 0;
    margin-bottom: 10px;
    max-height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    font-size: 0.8em;
}
.navegacao-imagem::-webkit-scrollbar {
    background-color: white ;
    width: 5px;
}
.navegacao-imagem::-webkit-scrollbar-thumb {
    background-color:#606060b2 ;
    border-radius: 10px;
    height: 30px;
}
.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quebra {
    width: 40% !important;
    float: left;
    margin: 10px 0 0 10px;
}
.quebra-img {
    margin: 0;  
    width: 40% !important;
    float: right;
}
.quebra-img > img  {
    width: 70%;
    margin-right: 20px;
}
.tela {
    width: 70%;
}
@media (min-width: 600px){
    .navegacao-imagem{
        padding-top: 20px;
    }
    .funcao-google-glass {
        width: 80%;
    }
}
@media (min-width: 720px){
    .navegacao-imagem{padding-top: 30px;}
    .funcao-google-glass {
        width: 70%;
    }

}
@media (min-width: 800px) {
    .navegacao-imagem {
        overflow-y: scroll;
        padding-top: 0px;
    }
    .funcao-google-glass {
        width: 80%;
    }
    .google-glass-faz {
        flex-direction: row;
        align-items: center;
    }   
    .img-mao {
        transform: rotate(0deg);
    }
}