@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Noto+Sans:wght@300&family=Titillium+Web:wght@300&display=swap');
:root {
    --cor1: #AAAAAA;
    --cor2: #606060;
    --cor3: #DDDDDD;
    --cor4: #888888;
    --cor5: rgba(0,0,0,.4);
}
body {
    margin: 0;
    padding: 0 10px;
    overflow-x: hidden;
    font-family: sans-serif;
}
.cabecalho {
    margin: 0;
    border-bottom: 1px solid black;
}
.img-scroll {
    display: none;
}
.tema-do-site {
    color: var(--cor2);
    font-size: 0.9em;
    margin-top: -10px;
}
.titulo-header {
    margin: 0 !important;
}
.link:hover {
    background-color: var(--cor2);
}
.data {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 0.75em;
    color: var(--cor2);
}
.nav {
    right: 20px;
    background-color: var(--cor3);
    /* display: none; */
    /* stackoverflow me salvou -> com o display: none em .av e display:block em nav1, o efeito de transition não estava fucncionando; então deixei somente o visibility:hidden e opacity */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.links-site {
    position: relative; 
    margin: 0;
    /* display: none; */
}
.link {
    padding: 5px;
    background-color: #AAAAAA;
    margin: 3px 0;
    color: black;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: white;
    text-align: center;
}
.nav1 {
    /* display: block !important; */
    visibility: visible !important; 
    opacity: 1;
    transition: 1s  ease-in-out !important; 
}
.container-menu {
    width: 10%;
    padding: 20px;
    top: -50px;
    right: 0;
    position: absolute;
}
.item-menu {
    position: absolute;
    top: 0;
    height: 5px;
    width: 50px;
    background: var(--cor2);
    border-radius: 5px;
    transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.item-menu:nth-child(2) {
    margin-top: 15px;
}
.item-menu:nth-child(3) {
    margin-top: 30px;
} 
.item-menu1:nth-child(1) {
    transform: rotate(225deg); 
    margin-top: 15px
}
.item-menu1:nth-child(2) {
    transform: translateX(-45px); 
    visibility: hidden;
    background-color: var(--cor3);
    width: 20px;
}
.item-menu1:nth-child(3) {
    margin-top: 15px;
    transform: rotate(135deg);  
} 
.bubblegum {
    font-family: 'Bubblegum Sans', cursive !important;
    color: var(--cor2);
    margin-bottom: 0;
}
.titilium {
    font-family: 'Titillium Web', sans-serif !important;
    color: var(--cor4);
    margin-top: 0;
}
.corpo {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.corpo, .cabecalho {
    padding: 15px;
    box-sizing: border-box;
}
.explicacoes {
    color: var(--cor2); 
    background-color: var(--cor3);
    /* background-repeat: no-repeat;
    background-size: cover; */
    box-sizing: border-box;
    padding: 3px;
    font-size: 1.25em;
    margin: 0;
}
.paragrafos {
    text-align: justify;
    text-indent: 30px;
}
.conteudo-principal, .noticias {
    flex: 1 1 auto;
}
.rodape {
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
}
.rodape > p {
    margin: 7.5px
}
.link2 {
    background-color: transparent;
    border-radius: 5px;
    background-color: var(--cor1);
    padding: 5px;
    display: inline-block !important;
    width: auto !important;
}
.google-glass-faz {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
@media (min-width: 850px) {
    .cabecalho {
        border-bottom: 1px solid black;
    }
    .container-menu {
        display: none;
    }
    .nav {
        display: inline-block !important;
        visibility: visible !important; 
        opacity: 1;
        min-width: 80%;
        padding: 0;
        top: -60px;
        right: 0px;
    }
     .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .link {
        flex: 1 1 0; 
        margin: 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }       
    .corpo {
        padding-top: 0 !important;
        /* padding-bottom: 0 !important; */
        flex-direction: row;    
        padding-bottom: 0;
    }
    .informacoes-pag {
        margin-top: 20px;
    }
    .img-scroll {
        display: block;
    }
}