.dados-usuaris {
     margin: 10px 0;
}
.field {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color:rgba(0, 0, 0, .5);
     font-size: 1em;
}
.field input, textarea, select {
     background: transparent;
     border: 0.5px solid rgba(0, 0, 0, .5);
}
.field input:focus {
     padding: 5px;
}
.id-usu {
     background: url(_imagens/icone-contato.png) no-repeat bottom right;
}
.end-usu {
     background: url(_imagens/icone-endereco.png) no-repeat bottom right;
}
.msg-usu {
     background: url(_imagens/icone-mensagem.png) no-repeat bottom right;
}
.pedido-usu {
     background: url(_imagens/icone-pagamento.png) no-repeat bottom right;
}
.sexo-usuario {
     list-style-type: none;
     display: flex;
     flex-direction: row-reverse;
     
}
.sexo-usuario > li {
     margin-left: 5px;
}
abbr {
     opacity: 0;
}
#estado-usu {
     overflow-y: scroll !important;
}
button[type="submit"], .calc {
     position: relative;
     width: 130px;
     border: 1px solid #383838;
     height: 55px;
     padding-left: 40px;
     overflow: hidden;
     float: right;
     font-size: 1.2em;
     border-radius: 50px;
     box-sizing: border-box;
     background-color: #606060;
     color: aliceblue;
     font-family: sans-serif;
     transition: .5s ease-in-out;
     letter-spacing: 1px;
}
.calc {
     width: auto;
     height: auto;
     padding: 10px;
     font-size: 0.8em;
}
button[type="submit"]:hover {
     padding-left: 0;
     padding-right: 40px;
     cursor: pointer;
     z-index: 10;
}
button[type="submit"]:hover::before {
     transform: translateX(178px) skewX(30deg);
}
button[type="submit"]::before {
     content: '';
     width: 65px;
     height: 100%;
     position: absolute;
     top: 0;
     background: rgba(0, 0, 0, 0.666);
     transition: .75s ease-in-out; 
     transform: translateX(-178px) skewX(30deg);
}
button[type="submit"] > span {
     width: 40px;
     height: 40px;
     background: white;
     position: absolute;
     left: 5px;
     top: 5px;
     transition: .5s ease-in-out;
     border-radius: 50%;
     color: #383838;
     font-size: 1.4em;
     display: flex;
     align-items: center;
     justify-content: center;
}
.caixa-vazia {
     display: block;
     color: red;
     font-size: 0.55em;
     font-style: italic;
     text-align: right;
}

button[type="submit"]:hover > span {
     left: calc(100% - 40px - 5px);
}
@media (min-width:530px) {
     .field {
          font-size: 1.2em;
     }
     
}
@media (min-width: 830px) {
     .field {
          font-size: 1.4em;
     }
     #dados-do-usuario {
          max-width: 65vw !important;
          margin: auto;
     }
     .field {
          width: 100%;
     }
}