.google-glass-faz {
    align-items: center;
}

audio {
    margin: 20px 0 0 0;
    height: 40px;
}
@media (min-width: 520px) {
    audio{
        height: 50px;
        margin: 20px auto 0 auto;
    }
    .google-glass-faz {
        align-items: stretch;
    }
    .video-glass {
        height: 250px;
    }
}
@media (min-width: 830px) {
    audio{
        height: 50px;
        margin: 20px auto 20px auto;
    }
    .google-glass-faz {
        align-items: stretch;
        box-sizing: border-box;
        padding: 0 50px;
    }
    .video-glass {
        height: 375px;
    }
}